##########
# Output
##########

bin/
build/
target/
out/

####################
# IDEs and editors
####################

# VS Code
.vscode/

# Intellij IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

#######################
# Tools and Utilities
#######################

# Gradle
.gradle/
