####################
# IDEs and editors
####################

# VS Code
.vscode/

# Intellij IDEA
.idea/

# Eclipse
.project
.classpath

#######################
# Tools and Utilities
#######################

# Gradle
.gradle/
