.hero {
    position: relative;
}

.hero img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0 100%;
    filter: brightness(0.125);
}

.hero .heading {
    position: absolute;
    bottom: 30%;
    width: 100%;
    color: white;
    text-align: center;
}

.hero .heading h1 {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid white;
    font-size: 2.4rem;
    text-overflow: ellipsis;
}

.hero .heading a {
    margin-top: 1.5rem;
    font-size: 1rem;
}

:root {
    scroll-behavior: smooth;
}

body.fullscreen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

textarea.expanding {
    transition: height ease-in-out 0.1s;
}

.continue-arrow {
    position: absolute;
    top: -0.40rem;
    right: 0;
}

.card.category-card {
    width: 18rem;
}

.dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-size-1 {
    font-size: 1rem;
}

.border-top {
    padding-top: 10px;
}

@media (min-width: 654px) {
    .hero .heading h1 {
        font-size: 5rem;
    }

    .hero .heading a {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}
